/*COMMON STYLES NAVI BAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-fixed; /* Safari */
    position: fixed;
    top: 100px;
    left: 32%;

    max-width: 500px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
table{
	background-color:  #d1e0e0;
	position: relative;
	left:20%;
	top: 200px;
}
/*//end NAVI BAR*/


/*menu form*/
#menuform{
	position: relative;
	top: 270px;
	left: 500px;
	background-color: grey;
	max-width: 350px;
	padding: 20px;
}
#menuform input[type=submit]{
	 font-family: impact;
	width: 100px;
	height: 30px;
}
